body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
   }
   header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
   }
   nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2f2f2;
   }
   nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
   }
   nav li {
    margin-right: 20px;
   }
   nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
   }
   nav a:hover {
    background-color: #333;
    color: #fff;
   }
   main {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
   }
   img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
   }
   table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
   }
   table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
   }
   table th {
    background-color: #f2f2f2;
   }
   footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
   }
   